html *
   {
      font-size: large; 
      font-family: Arial;
   }
   
h1
   { 
      text-align: center;
      font-size: x-large; 
   }
   
th, td
   { 
      vertical-align: top; 
      text-align: left; 
   }  
   
tr.error       { background-color: red; }
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
   
input 
   { 
      text-align: left; 
      border-style: solid; 
      border-width: 2px;
      border-color: #909090;  
      background-color: white;     
   }
   
textarea 
   { 
      border: outset; 
      border-color: white;       
   }  
   
table 
   { 
      border: inset; 
      border-color: white; 
   }
   
table.center 
   { 
      margin-left:auto; 
      margin-right:auto; 
   }
   
pre.output   { background-color: white; }

ol  {  vertical-align: top; 
       text-align: left;
       border: 1px solid #909090;
       background-color:#aaaaaa;
       //color:#000000; 
       list-style-position:inside;
       margin:0px;
       padding: 0px;
    }

li  {  text-align: left;
       vertical-align: top;
       font-size: medium;
       //border: 1px solid #909090;
       background-color:#ffffff;
       color: #909090; 
       margin:1px;
       padding-left: 1px;
    }

span { vertical-align: top;
       text-align: left;
       font-size: large;
       position: relative; 
       left:-10px;
     }

span.type {
             text-align: right;
             float: right;
             vertical-align: bottom;
             font-size: small;
             color: #909090;
             margin: 0px;
             padding: 0px;
             position: relative; 
             right:0px;
             left:0px;
             top: -20px;
             
          }

span.header { color: blue }
span.comments { color: orange }
span.blanks { color: green }
span.nameEqualValue { color: cyan }
span.error { color: red }

body
   {
      background-color:#b0c4de;  /* blue */
   }
   
.thumb 
   {
      height: 75px;
      border: 1px solid #000;
      margin: 10px 5px 0 0;
   }
   
.hidden      { display: none; }
.unhidden    { display: inline; }

#finaltable:hover td { background-color: blue; } 
#result      { border-color: red; }
